.light-button {
  background-color: rgb(241 233 233);
  color: #000;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.dark-button {
  background-color: rgb(60 57 57);
  color: #fff;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
